body {
    background: #EDFAE3;
    color: #4d4d4d;
}

header {
    height: 55px;
    left : 0px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    color: #EDFAE3;
    background: #91C368;
}

header nav {
    position: relative;
    top: 0px;
    color: #EDFAE3;
    text-align: center;
    font-weight: bold;
}

header nav li {
    display: inline-block;
    margin: 0 0 0 38px;
}

header nav li a {
    color: #EDFAE3;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    display: block;
    width: 100%;
    height: 100%;
}

header nav li a:hover {
    color: #72A487;
    text-decoration: underline;
}

header nav li a:visited {
    color: #EDFAE3;
}

header .shadow {
    bottom: -9px;
    height: 9px;
    left: 0;
    position: absolute;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image: linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0));
}

table {
    border-collapse: collapse;
}

th {
    background: #72A487;
    color: #C2F2D5;
    font-weight: bold;
}

td,th {
    border: thin solid #4d4d4d;
    
}

#content {
    height : 100%;
    width : 100%;
    position: relative;
    margin: 80px 10px 10px 10px;
}
