{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Activitée' %}{% endblock title %}
{% block content %}
<ul>
    <table>
        <caption>Liste des activitées</caption>
        <tr><th>Date</th><th>Heure</th><th>Commission</th><th>Nom</th></tr>
        {% for activitee in list_activitee %}
            <tr><td>{{ activitee.date }}</td><td>{{ activitee.heure }}</td><td>{{ activitee.commission.nom }}</td><td>{{ activitee.nom }}</td></tr>
        {% endfor %}
    </table>
</ul>

<ul>
    <table>
        <caption>Synthèse des activitées</caption>
        <tr><th>Activitée</th><th>Agent</th><th>conjoint</th><th>Enfants<th>Externe</th><th>Total</tr>
        {% for synth in synth_activitee %}
            <tr>
            	<td>{{ synth.activitee }}</td>
            	<td>{{ synth.agent__sum|default_if_none:"0" }}</td>
            	<td>{{ synth.conjoint__sum|default_if_none:"0" }}</td>
            	<td>{{ synth.enfant__sum|default_if_none:"0" }}</td>
            	<td>{{ synth.externe__sum|default_if_none:"0" }}</td>
            	<td>{{ synth.total }}</td>
            </tr>
        {% endfor %}
    </table>
</ul>

{% endblock content %}
