{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Activitée' %}{% endblock title %}
{% block content %}
<ul>
    <table>
        <caption>Liste des activitées</caption>
        <tr><th>Date</th><th>Heure</th><th>Commission</th><th>Nom</th></tr>
        {% for activitee in object_list %}
            <tr><td>{{ activitee.date }}</td><td>{{ activitee.heure }}</td><td>{{ activitee.commission.nom }}</td><td>{{ activitee.nom }}</td></tr>
        {% endfor %}
    </table>
</ul>

{% endblock content %}
