{% load i18n staticfiles %}
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>Site du CE : {% block title %}{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <link rel="stylesheet" type="text/css" media="all" href="{% static 'ce.css' %}" /> -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Pour la version tablette/phone -->
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <div id="header">
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </div>
</header>
    
    {% block content %}{% endblock content %}

<div id="footer">
    {% block footer %}
    {% include "footer.html"%}
    {% endblock%}
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>

