
<nav>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CE</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Acceuil</a></li>
            <li><a href="agent.html">Agent</a></li>
            <li><a href="commission.html">Comission</a></li>
            <li><a href="activitee.html">Activitée</a></li>
            <li><a href="participation.html">Participation</a></li>
            <li><a href="admin/">Admin</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
</nav>

