{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Participation' %}{% endblock title %}
{% block content %}

<div class='container'>
    <table class='table'>
        <caption>Liste des participants</caption>
        <tr><th>Activitee</th><th>Nom</th><th>Agent</th><th>Conjoint</th><th>Enfant</th><th>Externe</th><th>Etat</th></tr>
        {% for part in list_participation %}
            <tr><td>{{ part.activitee }}</td><td>{{ part.nom }}</td><td>{{ part.agent }}</td><td>{{ part.conjoint }}</td><td>{{ part.enfant }}</td><td>{{ part.externe }}</td><td>{{ part.etat }}</td></tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}


